/* <HEADER> */
.header                          { padding: 10px 20px; display: flex; align-items: center; border-bottom: 1px solid #e4e4e4; }  
.header-left                     { width: 300px; display: flex; align-items: center; }  
.header-left i                   { width: 30px; }  
.header-left .logo               { width: 100px; }  
.header-center                   { flex-grow: 1; }  
.header-center .search           { position: relative; width: 40%; }  
.header-center .search-btn       { border: none; outline: none; background: none; position: absolute; top: 50%; transform: translateY(-50%); right: 20px; }  
.header-center .search-btn:hover { color: crimson; cursor: pointer; }  
.header-center .search-box       { padding: 10px; background: #e4e4e4; border: none; border-radius: 5px; width: 95%; }  
.header-right                    { display: flex; margin-left: auto; justify-content: space-between; width: 300px; }  
.header-right                    { display: flex; align-items: center; }  
.header-right .user-info > *     { margin-left: 20px; }  
.header-right .user-info         { display: flex; align-items: center; }
.header-right .avatar            { width: 24px; height: 24px; border-radius: 50%; }
.header-right .upload-btn        { padding: 10px 20px; border: none; border-radius: 5px; background: crimson; color: white; }
/* <.HEADER> */

/* <CONTENT> */
.content { padding: 10px 20px; display: flex; }
/* <.CONTENT> */

/* <SIDEBAR> */
.sidebar                          { width: 300px; flex-shrink: 0; padding-top: 10px; }
.sidebar .menu-group              { margin-bottom: 30px; }
.sidebar .menu-group-label        { text-transform: uppercase; font-weight: 700; margin: 10px 0; }
.sidebar .menu-group .menu-item   { padding:  10px 0; }
.sidebar .menu-group .menu-item i { width: 30px; }
/* <.SIDEBAR> */

/* <VIDEO ROW> */
.videos-row-container                                                      { margin-bottom: 20px; }
.videos-row-container .row .videos-label-container                         { padding: 10px 20px 10px 0; }
.videos-row-container .row .videos-row-item                                { display: flex; }
.videos-row-container .row .videos-row-label                               { font-weight: 700; padding: 10px 0; }
.videos-row-container .row .videos-row-label-channel                       { display: flex; justify-content: space-between; }
.videos-row-container .row .videos-row-label-channel .left                 { display: flex; align-items: center; }
.videos-row-container .row .videos-row-label-channel .left > *             { margin-right: 10px; }
.videos-row-container .row .videos-row-label-channel .left .small-text     { font-size: 12px; color: gray; }
.videos-row-container .row .videos-row-label-channel .left .avatar         { width: 24px; height: 24px; border-radius: 50%; }
.videos-row-container .row .videos-row-label-channel .right .subscribe-btn { padding: 10px 15px; background: crimson; color: white; border: none; text-transform: uppercase; border-radius: 5px; }
/* <.VIDEO ROW> */

/* <VIDEO> */
.video                            { padding: 5px 20px 5px 0; }
.video .thumbnail                 { position: relative; }
.video .thumbnail img             { max-width: 100%; height: auto; border-radius: 2px; }
.video .thumbnail .length         { position: absolute; background: black; color: white; font-size: 12px; padding: 5px; bottom: 10px; right: 10px; }
.video .title                     { font-weight: 700; margin: 10px 0; }  
.video .channel                   { font-size: 14px; color: #adadad; margin-bottom: 5px; }
.video .channel a                 { text-decoration: none; }  
.video .video-info                { display: flex; align-items: center; font-size: 14px; color: #adadad; }   
.video .video-info .point-divider { width: 3px; height: 3px; background: black; margin: 0px 5px; border-radius: 50%; }
/* <.VIDEOS> */